.search-box {
  width: 80vw;
  max-width: 500px;
}

.display-list {
  width: 80%;
}

.highlight {
  background-color: #ffc600;
}

.suggestions li:nth-child(even) {
      transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
      background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

.display-list {
        top: 97%;
}
